{{#if items.length}}
<div class='sectionLine'></div>
<div class="sectionBlock">
	<div class='sectionName'>
		<span>{{title}}</span>
	</div>
	<div class='sectionContent'>
		{{#each items}}
		<div class="jobBlock">
			<div class='blockHeader'>
				<span class='title'>{{#if name}}{{name}}{{/if}}</span>
				{{#if location}}<span class='divider'>|</span> {{location}}{{/if}}
				{{#if startDate}}
				<span class='date'>
					{{#if startDate}}{{startDate}}{{/if}} &mdash; {{#if endDate}}{{endDate}}{{else}}Present{{/if}}
				</span>
				{{/if}}
			</div>
			<div class=''>
				{{#if position}}{{position}}{{/if}}
			</div>
			{{#if summary}}
				<em>{{summary}}</em>
			{{/if}}
			<div><a href='{{url}}'>{{url}}</a></div>

			{{#if highlights.length}}
			<ul class='highlights'>
				{{#each highlights}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			{{/if}}
			{{#unless @last}}<div class='separator'></div>{{/unless}}
		</div>
		{{/each}}
	</div>
</div>
{{/if}}
